.sign-in {
    width: 30vw;
    display: flex;
    flex-direction: column;
    .title {
        margin: 10px 0;
    }
    span {
        margin-top: 0.5rem;
        font-weight: 600;
        color: gray;
    }
}