.cart-icon {
    width: 45px;
    height: 45px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 34px;
      height: 34px;
      @media screen and (max-width: 800px) {
        width: 30px;
        height: 30px;
      }
    }
    .item-count {
      position: absolute;
      font-size: 15px;
      font-weight: bold;
      bottom: 8px;
      @media screen and (max-width: 800px) {
        font-size: 13px;
        bottom: 11px;
      }
    }
  }
  