.sign-up {
    display: flex;
    flex-direction: column;
    width: 380px;
    margin-top: 1rem;
    .title {
        margin: 10px 0;
    }
    span {
        margin-top: 0.5rem;
        font-weight: 600;
        color: gray;
    }
    @media screen and (max-width: 800px) {
        width: 100%;
    }
}