.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;

    .title {
      margin-bottom: 25px;
      cursor: pointer;
      font-family:'Times New Roman', Times, serif;
    }
  
    .preview {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 10px;
      @media screen and (max-width: 800px) {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 20px;
      }
    }
    @media screen and (max-width: 800px) {
      align-items: center;
    }
  }